# dependencies
node_modules/
client/node_modules/
server/node_modules/

# environment
.env
.env.local

# logs
logs
*.log
npm-debug.log*

# build
dist/
build/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Coverage
coverage/